<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="#">主页</a><i class="fa fa-circle"></i>
            </li>
            <li class="active">系统设置<i class="fa fa-circle"></i>
            </li>
            <li class="active">用户管理
            </li>
        </ul>
        <form class="form-inline" role="form">
         <!--    <div class="form-group">
                <label class="control-label">公司名称</label>
                <select class="form-control input-small select2" data-placeholder="请选择公司名称" id="txt_Depart" onchange="">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">部门</label>
                <select class="form-control input-small select2" data-placeholder="请选择部门" id="txt_Depart" onchange="">
                </select>
            </div> -->
            <div class="form-group" style="margin-left: 15px;">
                <label for="txt_UserName">用户名</label>
                <input class="form-control form-control-inline input-small" size="16" onchange="" ng-model="vm.searchCondition.userName" type="text" value="">
            </div>
            <div class="form-group" style="margin-left: 15px;">
                <label for="txt_RealName">手机号</label>
                <input class="form-control form-control-inline input-small" size="16" onchange="" ng-model="vm.searchCondition.phone" type="text" value="">
            </div>
            <div class="form-group" style="margin-left: 15px;">
                <input ng-click="vm.search()" type="button" value="搜索" class="btn btn-success" />
            </div>
        </form>
        <div class="row margin-top-15">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">用户管理</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="reload" ng-click="vm.search()"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <a class="btn green" data-toggle="modal" id="btn_Add" href="#responsive">新增用户 </a> -->
                                    <a class="btn purple" ng-click="vm.openModalBatchUser()">批量删除 </a>
                                    <a class="btn blue" ng-click="vm.resetPassword()">重置密码 </a>
                                </div>
                                <div class="col-md-6">
                                    <!--  <div class="btn-group pull-right">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                Tools <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                   <a href="javascript:;">导出Excel </a> 
                                                </li>
                                            </ul>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th class="table-checkbox">
                                        <input type="checkbox" ng-model="checkAll" ng-click="vm.all(checkAll)" />
                                    </th>
                                    <th>登录名</th>
                                    <th>工号</th>
                                    <th>职务</th>
                                    <th>手机</th>
                                    <th>邮箱</th>
                                    <th>公司名称</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="search_result">
                                <tr ng-repeat="data in vm.table.userArray">
                                    <td>
                                        <input type="checkbox" ng-model="checkOne" ng-checked="checkAll" ng-click="vm.chk(checkOne,data.uid)"/>
                                    </td>
                                    <td>{{data.uid}}</td>
                                    <td>{{data.serialNo}}</td>
                                    <td>{{data.title}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.companyName}}</td>
                                    <td><a href="javascript:void(0);" ng-click="vm.open(data)">编辑</a></td>
                                    <td><a href="javascript:void(0);" ng-click="vm.deleteUser(data.uid)">删除</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row margin-top-0">
                            <div class="col-md-12" style="text-align: right;">
                                <ul uib-pagination boundary-links="true" total-items="vm.pagination.bigTotalItems" ng-model="vm.pagination.bigCurrentPage" max-size="vm.pagination.maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" ng-change="vm.pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>
