<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="#">主页</a><i class="fa fa-circle"></i>
            </li>
            <li class="active">系统设置<i class="fa fa-circle"></i>
            </li>
            <li class="active">装置管理
            </li>
        </ul>
        <div class="row margin-top-15">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">装置管理</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="reload" ng-click="vm.refresh()"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn green" ng-click="vm.readFromExcel()">新增装置 </a>
                                    <a class="btn purple" ng-click="vm.batchdeleteEquipment()">批量删除 </a>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th class="table-checkbox">
                                        <input type="checkbox" ng-model="checkAll" ng-click="vm.all(checkAll)" />
                                    </th>
                                    <th>公司</th>
                                    <th>厂</th>
                                    <th>车间</th>
                                    <th>装置</th>
                                    <th>系统</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                             <tbody id="search_result">
                                <tr ng-repeat="data in vm.table.equipmentArray">
                                    <td>
                                        <input type="checkbox" ng-model="checkOne" ng-checked="checkAll" ng-click="vm.chk(checkOne,data.id)"/>
                                    </td>
                                    <td>{{data.companyName}}</td>
                                    <td>{{data.factoryName}}</td>
                                    <td>{{data.workshopName}}</td>
                                    <td>{{data.deviceName}}</td>
                                    <td>{{data.systemName}}</td>
                                    <td><a href="javascript:void(0);" ng-click="vm.editEquipment(data)">编辑</a></td>
                                    <td><a href="javascript:void(0);" ng-click="vm.deleteEquipment(data.id)">删除</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row margin-top-0">
                            <div class="col-md-12" style="text-align: right;">
                                <ul uib-pagination boundary-links="true" total-items="vm.pagination.bigTotalItems" ng-model="vm.pagination.bigCurrentPage" max-size="vm.pagination.maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" ng-change="vm.pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>

